#board {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #F9F5E3;
  padding: 10px
}

.cell {
  background-color: #EF798A;
  border: 1px solid #a6a09c;
  padding: 20px;
  font-size: 30px;
  height: 25vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottombar {
  height: 5vh;
}

#instructions {
  height: 5vh;
  background-color: #F9EBE0;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid #aba097;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottombar button {
  width: 50%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.playable { background-color: #CCF5AC;}

.playable:hover {
  background-color: rgba(18, 193, 175, 0.8); /* Highlight color */
  cursor: pointer; /* Pointer cursor on hover */
}